* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.shell .wide {
  grid-column: span 2;
}

.shell .tall {
  grid-row: span 2;
}

.shell .bg {
  grid-column: span 2;
  grid-row: span 2;
}

.picture-number {
  font-family: 'Kristen ITC';
  color: #fff;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}
